body {
	background-color: #ccc;
	font-family: sans-serif;
}

.btn {
	display: inline-block;
	padding: 1em;
	background-color: #3a3a3a;
	color: #fff;
	text-decoration: none;
}

.btn:hover {
	background-color: #000;
}
